In [1]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
all_matches_data.to_csv('Combo_Match1_to_Match15.csv',index=False)

In [4]:
 df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match15.csv',index_col='Players')

In [5]:
df.Sixes.sum()

207

In [6]:
df.Fours.sum()

465

In [7]:
df.groupby('Team').Sixes.sum().nlargest(8)

Team
Chennai Super Kings           34
Kolkata Knight Riders         34
Rajasthan Royals              31
Punjab Kings                  27
Sunrisers Hyderabad           26
Royal Challengers Banglore    24
Mumbai Indians                19
Delhi Capitals                12
Name: Sixes, dtype: int64

In [8]:
df.groupby('Team').Fours.sum().nlargest(8)

Team
Delhi Capitals                79
Royal Challengers Banglore    65
Kolkata Knight Riders         62
Rajasthan Royals              62
Chennai Super Kings           61
Punjab Kings                  52
Mumbai Indians                51
Sunrisers Hyderabad           33
Name: Fours, dtype: int64

# BATSMAN

In [9]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0.0,0.0,0,0,0,0,RCB,Yes

In [10]:
Batsman=df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [11]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace=True)

In [12]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [13]:
BR=Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Vs','Times Out']].sum().nlargest(1000,'Batsman Runs')

In [14]:
BR['Strike Rate'] = BR['Batsman Runs']/BR['Balls']*100

In [15]:
batsman= BR.round(2)

In [16]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

## No of times batsman is not out = 0 and match played is equal and more than 1

In [17]:
batsman.loc[(batsman['Times Out'] == 0) & (batsman['Match Played'] >=1) ,'Average'] = batsman['Batsman Runs']/batsman['Match Played']

In [18]:
A1=batsman[(batsman['Match Played']>=1) & (batsman['Times Out'] == 0)]

In [19]:
A1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

                               Match Played  Batsman Runs  Times Out  Average
Players        Team
Shikhar Dhawan Delhi Capitals             4           231        0.0    57.75

## No of times batsman is not out = 1 and match played is equal to 1

In [20]:
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] == 1),'Average'] = batsman['Batsman Runs']

In [21]:
B1=batsman[(batsman['Match Played']==1) & (batsman['Times Out'] == 1)]

In [22]:
B1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

,,Match Played,Batsman Runs,Times Out,Average
Players,Team,,,,
Kane Williamson,Sunrisers Hyderabad,1,16,1.0,16.0

##  No of times batsman is not out = 1 and match played is equal and more than 2

In [23]:
batsman.loc[(batsman['Times Out'] == 1) & (batsman['Match Played'] >= 2),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-batsman['Times Out'])

In [24]:
C1=batsman[(batsman['Match Played']>=2) & (batsman['Times Out'] == 1)]

In [25]:
C1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

,,Match Played,Batsman Runs,Times Out,Average
Players,Team,,,,
Glenn Maxwell,Royal Challengers Banglore,4,176,1.0,58.666667

##  No of times batsman is not out = 2 and match played is equal to 2

In [26]:
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] == 2),'Average'] = batsman['Batsman Runs']

In [27]:
D1=batsman[(batsman['Match Played']==2) & (batsman['Times Out'] == 2)]

In [28]:
D1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

                                Match Played  Batsman Runs  Times Out  Average
Players       Team
Shreyas Gopal Rajasthan Royals             2             7        2.0      7.0

##  No of times batsman is not out = 2 and match played is equal and more than 3

In [29]:
batsman.loc[(batsman['Times Out'] == 2) & (batsman['Match Played'] >= 3),'Average'] = batsman['Batsman Runs']/(batsman['Match Played']-batsman['Times Out'])

In [30]:
E1=batsman[(batsman['Match Played']>=3) & (batsman['Times Out'] == 2)]

In [31]:
E1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

                                Match Played  Batsman Runs  Times Out  Average
Players    Team
du Plessis Chennai Super Kings             4           164        2.0     82.0

## No of times batsman is not out = 3 and match played  equal to 3

In [32]:
batsman.loc[(batsman['Times Out'] == 3) & (batsman['Match Played'] == 3),'Average'] = batsman['Batsman Runs']

In [33]:
F1=batsman[(batsman['Match Played']==3) & (batsman['Times Out'] == 3)]

In [34]:
F1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

                              Match Played  Batsman Runs  Times Out  Average
Players  Team
DJ Bravo Chennai Super Kings             3            20        3.0     20.0

##  No of times batsman is not out = 3 and match played is equal and more than 4

In [35]:
batsman.loc[(batsman['Times Out'] == 3) & (batsman['Match Played'] >=4),'Average'] = batsman['Batsman Runs']

In [36]:
G1=batsman[(batsman['Match Played']>=4) & (batsman['Times Out'] == 3)]

In [37]:
G1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

                             Match Played  Batsman Runs  Times Out  Average
Players        Team
Mohammed Shami Punjab Kings             4            12        3.0     12.0

## No of times batsman is not out = 4 and match played  equal to 4

In [38]:
batsman.loc[(batsman['Times Out'] == 4) & (batsman['Match Played'] ==4),'Average'] = batsman['Batsman Runs']

In [39]:
H1=batsman[(batsman['Match Played']==4) & (batsman['Times Out'] == 4)]

In [40]:
H1[['Match Played','Batsman Runs','Times Out','Average']].head(1)

,,Match Played,Batsman Runs,Times Out,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,4,4,4.0,4.0

# MOST RUNS

In [41]:
batsman[['Match Played','Batsman Runs','Average']].nlargest(15,'Batsman Runs').round(2)

,,Match Played,Batsman Runs,Average
Players,Team,,,
Shikhar Dhawan,Delhi Capitals,4,231,57.75
Glenn Maxwell,Royal Challengers Banglore,4,176,58.67
Jonny Bairstow,Sunrisers Hyderabad,4,173,57.67
du Plessis,Chennai Super Kings,4,164,82.00
Nitish Rana,Kolkata Knight Riders,4,164,41.00
KL Rahul,Punjab Kings,4,161,40.25
Sanju Samson,Rajasthan Royals,4,145,36.25
Virat Kohli,Royal Challengers Banglore,4,143,47.67
Rohit Sharma,Mumbai Indians,4,138,34.50
Devdutt Padikkal,Royal Challengers Banglore,3,137,68.50
Moeen Ali,Chennai Super Kings,4,133,33.25
David Warner,Sunrisers Hyderabad,4,130,32.50
AB de Villiers,Royal Challengers Banglore,4,125,62.50
Suryakumar Yadav,Mumbai Indians,4,121,30.25
Prithvi Shaw,Delhi Capitals,4,113,28.25

# HIGHEST SCORE

In [42]:
Batsman[['Batsman Runs','Balls','Strike Rate','Vs']].nlargest(10,'Batsman Runs')

                  Batsman Runs  Balls  Strike Rate    Vs
Players
Sanju Samson               119     63       188.89  PBKS
Devdutt Padikkal           101     52       194.23    RR
du Plessis                  95     60       158.33   KKR
Shikhar Dhawan              92     49       187.76  PBKS
KL Rahul                    91     50       182.00    RR
Shikhar Dhawan              85     54       157.41   CSK
Nitish Rana                 80     56       142.86   SRH
Glenn Maxwell               78     49       159.18   KKR
AB de Villiers              76     34       223.53   KKR
Virat Kohli                 72     47       153.19    RR

# BEST BATTING AVERAGE

In [43]:
batsman[['Match Played','Batsman Runs','Average']].nlargest(15,'Average').round(2)

,,Match Played,Batsman Runs,Average
Players,Team,,,
du Plessis,Chennai Super Kings,4,164,82.00
Devdutt Padikkal,Royal Challengers Banglore,3,137,68.50
AB de Villiers,Royal Challengers Banglore,4,125,62.50
Glenn Maxwell,Royal Challengers Banglore,4,176,58.67
Shikhar Dhawan,Delhi Capitals,4,231,57.75
Jonny Bairstow,Sunrisers Hyderabad,4,173,57.67
Lalit Yadav,Delhi Capitals,3,54,54.00
Manish Pandey,Sunrisers Hyderabad,3,101,50.50
Chris Lynn,Mumbai Indians,1,49,49.00
Virat Kohli,Royal Challengers Banglore,4,143,47.67
Shahrukh Khan,Punjab Kings,4,90,45.00
Nitish Rana,Kolkata Knight Riders,4,164,41.00
KL Rahul,Punjab Kings,4,161,40.25
Deepak Hooda,Punjab Kings,4,109,36.33
Sanju Samson,Rajasthan Royals,4,145,36.25

# BEST BATTING STRIKE RATE

In [44]:
SR= batsman[batsman['Batsman Runs'] >=50].nlargest(15,'Strike Rate')

In [45]:
SR[['Match Played','Batsman Runs','Strike Rate']].nlargest(15,'Strike Rate')

,,Match Played,Batsman Runs,Strike Rate
Players,Team,,,
Sam Curran,Chennai Super Kings,4,52,208.00
Pat Cummins,Kolkata Knight Riders,4,72,194.59
AB de Villiers,Royal Challengers Banglore,4,125,189.39
Prithvi Shaw,Delhi Capitals,4,113,173.85
Sanju Samson,Rajasthan Royals,4,145,162.92
Deepak Hooda,Punjab Kings,4,109,162.69
Andre Russell,Kolkata Knight Riders,4,99,159.68
Moeen Ali,Chennai Super Kings,4,133,152.87
Suryakumar Yadav,Mumbai Indians,4,121,151.25
Glenn Maxwell,Royal Challengers Banglore,4,176,149.15
Shikhar Dhawan,Delhi Capitals,4,231,148.08
Devdutt Padikkal,Royal Challengers Banglore,3,137,147.31
Ambati Rayudu,Chennai Super Kings,4,50,147.06
Dinesh Karthik,Kolkata Knight Riders,4,72,146.94
Shubman Gill,Kolkata Knight Riders,4,69,146.81

# MOST FIFTIES

In [46]:
batsman[['Match Played','Batsman Runs','50s']].nlargest(20,'50s')

                                             Match Played  Batsman Runs  50s
Players          Team
Shikhar Dhawan   Delhi Capitals                         4           231    2
Glenn Maxwell    Royal Challengers Banglore             4           176    2
Jonny Bairstow   Sunrisers Hyderabad                    4           173    2
Nitish Rana      Kolkata Knight Riders                  4           164    2
KL Rahul         Punjab Kings                           4           161    2
du Plessis       Chennai Super Kings                    4           164    1
Virat Kohli      Royal Challengers Banglore             4           143    1
David Warner     Sunrisers Hyderabad                    4           130    1
AB de Villiers   Royal Challengers Banglore             4           125    1
Suryakumar Yadav Mumbai Indians                         4           121    1
Prithvi Shaw     Delhi Capitals                         4           113    1
Deepak Hooda     Punjab Kings                           4           109    1
Mayank Agarwal   Punjab Kings                           4           105    1
Manish Pandey    Sunrisers Hyderabad                    3           101    1
Andre Russell    Kolkata Knight Riders                  4            99    1
Rahul Tripathi   Kolkata Knight Riders                  4            91    1
Rishabh Pant     Delhi Capitals                         4            88    1
Rituraj Gaikwad  Chennai Super Kings                    4            84    1
Suresh Raina     Chennai Super Kings                    4            80    1
Pat Cummins      Kolkata Knight Riders                  4            72    1

# MOST FOURS

In [47]:
batsman[['Match Played','Batsman Runs','Fours']].nlargest(10,'Fours')

                                             Match Played  Batsman Runs  Fours
Players          Team
Shikhar Dhawan   Delhi Capitals                         4           231     29
Nitish Rana      Kolkata Knight Riders                  4           164     19
Glenn Maxwell    Royal Challengers Banglore             4           176     17
du Plessis       Chennai Super Kings                    4           164     16
Suryakumar Yadav Mumbai Indians                         4           121     16
KL Rahul         Punjab Kings                           4           161     15
Sanju Samson     Rajasthan Royals                       4           145     15
Virat Kohli      Royal Challengers Banglore             4           143     15
Devdutt Padikkal Royal Challengers Banglore             3           137     15
Moeen Ali        Chennai Super Kings                    4           133     14

# MOST SIXES

In [48]:
batsman[['Match Played','Batsman Runs','Sixes']].nlargest(10,'Sixes')

                                           Match Played  Batsman Runs  Sixes
Players        Team
Jonny Bairstow Sunrisers Hyderabad                    4           173     10
Glenn Maxwell  Royal Challengers Banglore             4           176      8
Sanju Samson   Rajasthan Royals                       4           145      8
Deepak Hooda   Punjab Kings                           4           109      8
Andre Russell  Kolkata Knight Riders                  4            99      8
du Plessis     Chennai Super Kings                    4           164      7
Nitish Rana    Kolkata Knight Riders                  4           164      7
KL Rahul       Punjab Kings                           4           161      7
Rohit Sharma   Mumbai Indians                         4           138      7
Moeen Ali      Chennai Super Kings                    4           133      7

# BOWLERS

In [49]:
bowler_played= df[['Team','Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets','Economy Rate','Vs']]

In [50]:
Bowler= bowler_played[bowler_played['Bowler Balls'] >=1]

In [51]:
W= Bowler.groupby(by=['Players','Team'])[['Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets']].sum().nlargest(100,'Wickets')

In [52]:
W['Economy'] = W['Bowler Runs']/W['Over']

In [53]:
W['Average'] = W['Bowler Runs']/W['Wickets']

In [54]:
W['Strike Rate'] = W['Bowler Balls']/W['Wickets']

In [55]:
bowler = W.round(2)

# MOST WICKETS

In [62]:
bowler[['Match Played','Over','Wickets','Average']].nlargest(20,'Wickets')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,4,16.0,12.0,9.67
Deepak Chahar,Chennai Super Kings,4,15.0,8.0,13.75
Rahul Chahar,Mumbai Indians,4,16.0,8.0,14.75
Avesh Khan,Delhi Capitals,4,14.0,8.0,12.88
Andre Russell,Kolkata Knight Riders,4,9.0,7.0,16.00
Kyle Jamieson,Royal Challengers Banglore,4,14.0,6.0,21.00
Trent Boult,Mumbai Indians,4,15.4,6.0,19.00
Chetan Sakariya,Rajasthan Royals,4,16.0,6.0,22.50
Chris Woakes,Delhi Capitals,3,11.0,5.0,16.40
Mohammed Siraj,Royal Challengers Banglore,4,15.0,5.0,18.20
Chris Morris,Rajasthan Royals,4,14.0,5.0,27.80
Arshdeep Singh,Punjab Kings,4,12.4,5.0,19.00
Moeen Ali,Chennai Super Kings,3,9.0,4.0,14.25
Pat Cummins,Kolkata Knight Riders,4,16.0,4.0,36.50
Sam Curran,Chennai Super Kings,4,13.0,4.0,29.50
Varun Chakravarthy,Kolkata Knight Riders,4,16.0,4.0,32.25
Prasidh Krishna,Kolkata Knight Riders,4,16.0,4.0,39.25
Mohammed Shami,Punjab Kings,4,14.0,4.0,30.75
Rashid Khan,Sunrisers Hyderabad,4,16.0,4.0,20.25
Jasprit Bumrah,Mumbai Indians,4,16.0,4.0,25.00

# BEST BOWLING AVERAGE

In [57]:
BA= bowler[bowler['Wickets'] >5].nsmallest(10,'Average')

In [58]:
BA[['Match Played','Over','Bowler Runs','Wickets','Average']].nsmallest(40,'Average')

,,Match Played,Over,Bowler Runs,Wickets,Average
Players,Team,,,,,
Harshal Patel,Royal Challengers Banglore,4,16.0,116,12.0,9.67
Avesh Khan,Delhi Capitals,4,14.0,103,8.0,12.88
Deepak Chahar,Chennai Super Kings,4,15.0,110,8.0,13.75
Rahul Chahar,Mumbai Indians,4,16.0,118,8.0,14.75
Andre Russell,Kolkata Knight Riders,4,9.0,112,7.0,16.00
Trent Boult,Mumbai Indians,4,15.4,114,6.0,19.00
Kyle Jamieson,Royal Challengers Banglore,4,14.0,126,6.0,21.00
Chetan Sakariya,Rajasthan Royals,4,16.0,135,6.0,22.50

# BEST BOWLING STRIKE RATE

In [59]:
SR= bowler[bowler['Wickets'] >=5].nsmallest(10,'Strike Rate')

In [60]:
SR[['Match Played','Over','Wickets','Strike Rate']].nsmallest(10,'Strike Rate')

,,Match Played,Over,Wickets,Strike Rate
Players,Team,,,,
Andre Russell,Kolkata Knight Riders,4,9.0,7.0,7.71
Harshal Patel,Royal Challengers Banglore,4,16.0,12.0,8.00
Avesh Khan,Delhi Capitals,4,14.0,8.0,10.50
Deepak Chahar,Chennai Super Kings,4,15.0,8.0,11.25
Rahul Chahar,Mumbai Indians,4,16.0,8.0,12.00
Chris Woakes,Delhi Capitals,3,11.0,5.0,13.20
Kyle Jamieson,Royal Challengers Banglore,4,14.0,6.0,14.00
Arshdeep Singh,Punjab Kings,4,12.4,5.0,15.20
Trent Boult,Mumbai Indians,4,15.4,6.0,15.67
Chetan Sakariya,Rajasthan Royals,4,16.0,6.0,16.00

# BEST ECONOMY

In [61]:
bowler[['Match Played','Over','Wickets','Economy']].nsmallest(10,'Economy')

,,Match Played,Over,Wickets,Economy
Players,Team,,,,
Rashid Khan,Sunrisers Hyderabad,4,16.0,4.0,5.06
Fabian Allen,Punjab Kings,1,4.0,1.0,5.50
Murgan Ashwin,Punjab Kings,1,4.0,0.0,5.50
Lalit Yadav,Delhi Capitals,2,5.0,1.0,5.60
Khaleel Ahmed,Sunrisers Hyderabad,2,8.0,4.0,5.62
Abhishek Sharma,Sunrisers Hyderabad,2,5.0,2.0,5.80
Mohammed Siraj,Royal Challengers Banglore,4,15.0,5.0,6.07
Jasprit Bumrah,Mumbai Indians,4,16.0,4.0,6.25
Jayant Yadav,Mumbai Indians,1,4.0,1.0,6.25
Moeen Ali,Chennai Super Kings,3,9.0,4.0,6.33