In [1]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
# all_matches_data.to_csv('Combo_Match1_to_Match7.csv',index=False)

In [4]:
 df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match7.csv',index_col='Players')

In [5]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [6]:
batsman_played= df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [7]:
Batsman = batsman_played[batsman_played['Balls'] >=1]

In [8]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace =True)

In [9]:
print(Batsman['Times Out'].dtype)

int64

In [10]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [11]:
print(Batsman['Times Out'].dtype)

float64

In [12]:
BR= Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Times Out']].sum().nlargest(100,columns=['Batsman Runs'])

In [13]:
BR['Strike Rate']= (BR['Batsman Runs']/BR['Balls'])*100 ##STRIKE RATE

In [14]:
batsman=BR.round(2)

In [15]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate
Players,Team,,,,,,,,,
Nitish Rana,Kolkata Knight Riders,2,137,103,15,6,2,0,0.0,133.01

In [16]:
batsman.loc[batsman['Times Out'] ==0 , 'Average'] = batsman['Batsman Runs']/batsman['Match Played']
batsman.loc[batsman['Times Out'] >=1 , 'Average'] = batsman['Batsman Runs']

In [17]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

In [18]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Nitish Rana,Kolkata Knight Riders,2,137,103,15,6,2,0,0.0,133.01,68.5,2

In [19]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [20]:
Batsman.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s,Vs,Times Out
Players,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0,0,RCB,0.0

In [21]:
batsman.Fours.sum()

221

In [22]:
batsman.Sixes.sum()

88

# MOST RUNS

In [23]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(15,'Batsman Runs')

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,68.5
Sanju Samson,Rajasthan Royals,2,2,123,61.5
Manish Pandey,Sunrisers Hyderabad,2,2,99,99.0
Glenn Maxwell,Royal Challengers Banglore,2,2,98,49.0
Shikhar Dhawan,Delhi Capitals,2,2,94,47.0
KL Rahul,Punjab Kings,1,1,91,91.0
Suryakumar Yadav,Mumbai Indians,2,2,87,43.5
Prithvi Shaw,Delhi Capitals,2,2,74,37.0
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,33.5
Rishabh Pant,Delhi Capitals,2,2,66,66.0
Virat Kohli,Royal Challengers Banglore,2,2,66,33.0
Deepak Hooda,Punjab Kings,1,1,64,64.0
Rohit Sharma,Mumbai Indians,2,2,62,31.0
David Miller,Rajasthan Royals,1,1,62,62.0
Rahul Tripathi,Kolkata Knight Riders,2,2,58,29.0

# HIGHEST SCORES

In [24]:
Batsman[['Team','Batsman Runs','Balls','Strike Rate','Vs']].nlargest(15,'Batsman Runs')

,Team,Batsman Runs,Balls,Strike Rate,Vs
Players,,,,,
Sanju Samson,Rajasthan Royals,119,63,188.89,PBKS
KL Rahul,Punjab Kings,91,50,182.00,RR
Shikhar Dhawan,Delhi Capitals,85,54,157.41,CSK
Nitish Rana,Kolkata Knight Riders,80,56,142.86,SRH
Prithvi Shaw,Delhi Capitals,72,38,189.47,CSK
Deepak Hooda,Punjab Kings,64,28,228.57,RR
David Miller,Rajasthan Royals,62,43,144.19,DC
Manish Pandey,Sunrisers Hyderabad,61,44,138.64,KKR
Glenn Maxwell,Royal Challengers Banglore,59,41,143.90,SRH
Nitish Rana,Kolkata Knight Riders,57,47,121.28,MI
Suryakumar Yadav,Mumbai Indians,56,36,155.56,KKR
Jonny Bairstow,Sunrisers Hyderabad,55,40,137.50,KKR
Suresh Raina,Chennai Super Kings,54,36,150.00,DC
David Warner,Sunrisers Hyderabad,54,37,145.95,RCB
Rahul Tripathi,Kolkata Knight Riders,53,29,182.76,SRH

# BEST BATTING AVERAGE

In [25]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(15,'Average')

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Manish Pandey,Sunrisers Hyderabad,2,2,99,99.0
KL Rahul,Punjab Kings,1,1,91,91.0
Nitish Rana,Kolkata Knight Riders,2,2,137,68.5
Rishabh Pant,Delhi Capitals,2,2,66,66.0
Deepak Hooda,Punjab Kings,1,1,64,64.0
David Miller,Rajasthan Royals,1,1,62,62.0
Sanju Samson,Rajasthan Royals,2,2,123,61.5
Suresh Raina,Chennai Super Kings,1,1,54,54.0
Glenn Maxwell,Royal Challengers Banglore,2,2,98,49.0
Chris Lynn,Mumbai Indians,1,1,49,49.0
Shikhar Dhawan,Delhi Capitals,2,2,94,47.0
Suryakumar Yadav,Mumbai Indians,2,2,87,43.5
Chris Gayle,Punjab Kings,1,1,40,40.0
Chris Morris,Rajasthan Royals,2,2,38,38.0
Prithvi Shaw,Delhi Capitals,2,2,74,37.0

# BEST BATTING STRIKE RATE

In [26]:
SR= batsman[batsman['Batsman Runs'] >=50].nlargest(17,'Strike Rate')

In [27]:
SR[['Match Played','Innings','Batsman Runs','Strike Rate']].nlargest(17,'Strike Rate')

,,Match Played,Innings,Batsman Runs,Strike Rate
Players,Team,,,,
Deepak Hooda,Punjab Kings,1,1,64,228.57
Sanju Samson,Rajasthan Royals,2,2,123,186.36
KL Rahul,Punjab Kings,1,1,91,182.00
Prithvi Shaw,Delhi Capitals,2,2,74,172.09
Rahul Tripathi,Kolkata Knight Riders,2,2,58,170.59
Suresh Raina,Chennai Super Kings,1,1,54,150.00
Rishabh Pant,Delhi Capitals,2,2,66,150.00
Suryakumar Yadav,Mumbai Indians,2,2,87,147.46
Shikhar Dhawan,Delhi Capitals,2,2,94,144.62
David Miller,Rajasthan Royals,1,1,62,144.19
Glenn Maxwell,Royal Challengers Banglore,2,2,98,142.03
David Warner,Sunrisers Hyderabad,2,2,57,139.02
Nitish Rana,Kolkata Knight Riders,2,2,137,133.01
Rohit Sharma,Mumbai Indians,2,2,62,131.91
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,126.42
Manish Pandey,Sunrisers Hyderabad,2,2,99,119.28
Virat Kohli,Royal Challengers Banglore,2,2,66,113.79

# MOST HUNDREDS

In [28]:
batsman[['Match Played','Innings','Batsman Runs','100s']].nlargest(1,'100s')

                               Match Played  Innings  Batsman Runs  100s
Players      Team
Sanju Samson Rajasthan Royals             2        2           123     1

# MOST FIFTIES

In [29]:
batsman[['Match Played','Innings','Batsman Runs','50s']].nlargest(14,'50s')

,,Match Played,Innings,Batsman Runs,50s
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,2
Manish Pandey,Sunrisers Hyderabad,2,2,99,1
Glenn Maxwell,Royal Challengers Banglore,2,2,98,1
Shikhar Dhawan,Delhi Capitals,2,2,94,1
KL Rahul,Punjab Kings,1,1,91,1
Suryakumar Yadav,Mumbai Indians,2,2,87,1
Prithvi Shaw,Delhi Capitals,2,2,74,1
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,1
Rishabh Pant,Delhi Capitals,2,2,66,1
Deepak Hooda,Punjab Kings,1,1,64,1
David Miller,Rajasthan Royals,1,1,62,1
Rahul Tripathi,Kolkata Knight Riders,2,2,58,1
David Warner,Sunrisers Hyderabad,2,2,57,1
Suresh Raina,Chennai Super Kings,1,1,54,1

# MOST FOURS

In [30]:
batsman[['Match Played','Innings','Batsman Runs','Fours']].nlargest(15,'Fours')

,,Match Played,Innings,Batsman Runs,Fours
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,15
Sanju Samson,Rajasthan Royals,2,2,123,13
Shikhar Dhawan,Delhi Capitals,2,2,94,11
Suryakumar Yadav,Mumbai Indians,2,2,87,11
Rishabh Pant,Delhi Capitals,2,2,66,11
Prithvi Shaw,Delhi Capitals,2,2,74,9
Glenn Maxwell,Royal Challengers Banglore,2,2,98,8
Virat Kohli,Royal Challengers Banglore,2,2,66,8
KL Rahul,Punjab Kings,1,1,91,7
David Miller,Rajasthan Royals,1,1,62,7
David Warner,Sunrisers Hyderabad,2,2,57,7
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,6
Shubman Gill,Kolkata Knight Riders,2,2,48,6
Rahul Tripathi,Kolkata Knight Riders,2,2,58,5
Jos Butler,Rajasthan Royals,2,2,27,5

# MOST SIXES

In [31]:
batsman[['Match Played','Innings','Batsman Runs','Sixes']].nlargest(15,'Sixes')

,,Match Played,Innings,Batsman Runs,Sixes
Players,Team,,,,
Sanju Samson,Rajasthan Royals,2,2,123,7
Nitish Rana,Kolkata Knight Riders,2,2,137,6
Deepak Hooda,Punjab Kings,1,1,64,6
Manish Pandey,Sunrisers Hyderabad,2,2,99,5
Glenn Maxwell,Royal Challengers Banglore,2,2,98,5
KL Rahul,Punjab Kings,1,1,91,5
Suresh Raina,Chennai Super Kings,1,1,54,4
Chris Morris,Rajasthan Royals,2,2,38,4
Suryakumar Yadav,Mumbai Indians,2,2,87,3
Prithvi Shaw,Delhi Capitals,2,2,74,3
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,3
Chris Lynn,Mumbai Indians,1,1,49,3
Riyan Parag,Rajasthan Royals,2,2,27,3
Shikhar Dhawan,Delhi Capitals,2,2,94,2
Rohit Sharma,Mumbai Indians,2,2,62,2

# BOWLERS

In [32]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [33]:
bowler_played=df[['Team','Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets','Economy Rate','Vs']]

In [34]:
Bowler= bowler_played[bowler_played['Bowler Balls'] >=1]

In [35]:
W= Bowler.groupby(by=['Players','Team'])[['Match Played','Over','Bowler Balls','Maiden','Bowler Runs','Wickets']].sum().nlargest(100,'Wickets')

In [36]:
W['Economy'] = W['Bowler Runs']/W['Over']

In [37]:
W['Average'] = W['Bowler Runs']/W['Wickets']

In [38]:
W['Strike Rate'] = W['Bowler Balls']/W['Wickets']

In [39]:
bowler= W.round(2)

In [40]:
bowler.head(1)

,,Match Played,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy,Average,Strike Rate
Players,Team,,,,,,,,,
Harshal Patel,Royal Challengers Banglore,2,8.0,48,0,52,7,6.5,7.43,6.86

In [41]:
bowler[(bowler['Over'] == 3.4) |( bowler['Over'] == 7.4)]

,,Match Played,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy,Average,Strike Rate
Players,Team,,,,,,,,,
Shardul Thakur,Chennai Super Kings,1,3.4,22,0,53,2,15.59,26.5,11.0
Tom Curran,Delhi Capitals,2,7.4,46,0,75,1,10.14,75.0,46.0

In [42]:
bowler.Wickets.sum()

92

# MOST WICKETS

In [43]:
bowler[['Match Played','Over','Wickets','Average']].nlargest(30,'Wickets')

,,Match Played,Over,Wickets,Average
Players,Team,,,,
Harshal Patel,Royal Challengers Banglore,2,8.0,7,7.43
Andre Russell,Kolkata Knight Riders,2,5.0,6,7.83
Avesh Khan,Delhi Capitals,2,8.0,5,11.00
Rashid Khan,Sunrisers Hyderabad,2,8.0,4,10.50
Chris Woakes,Delhi Capitals,2,7.0,4,10.00
Rahul Chahar,Mumbai Indians,2,8.0,4,17.50
Shahbaz Ahmed,Royal Challengers Banglore,2,3.0,3,7.00
Trent Boult,Mumbai Indians,2,8.0,3,21.00
Jaydev Unadkat,Rajasthan Royals,1,4.0,3,5.00
Pat Cummins,Kolkata Knight Riders,2,8.0,3,18.00
Jason Holder,Sunrisers Hyderabad,1,4.0,3,10.00
Prasidh Krishna,Kolkata Knight Riders,2,8.0,3,25.67
Chris Morris,Rajasthan Royals,2,7.0,3,22.67
Chetan Sakariya,Rajasthan Royals,2,8.0,3,21.33
Arshdeep Singh,Punjab Kings,1,4.0,3,11.67
Marco Jansen,Mumbai Indians,2,6.0,2,22.50
Shardul Thakur,Chennai Super Kings,1,3.4,2,26.50
Shakib Al Hasan,Kolkata Knight Riders,2,8.0,2,28.50
Mustafizur Rahman,Rajasthan Royals,2,8.0,2,37.00
Mohammed Shami,Punjab Kings,1,4.0,2,16.50
Mohammad Nabi,Sunrisers Hyderabad,1,4.0,2,16.00
T Natarjan,Sunrisers Hyderabad,2,8.0,2,34.50
Mohammed Siraj,Royal Challengers Banglore,2,8.0,2,23.50
Kyle Jamieson,Royal Challengers Banglore,2,7.0,2,28.50
Kagiso Rabada,Delhi Capitals,1,4.0,2,15.00
Bhuvneshwar Kumar,Sunrisers Hyderabad,2,8.0,2,37.50
Jasprit Bumrah,Mumbai Indians,2,8.0,2,27.00
Krunal Pandya,Mumbai Indians,2,8.0,2,19.00
Jhye Richardson,Punjab Kings,1,4.0,1,55.00
Tom Curran,Delhi Capitals,2,7.4,1,75.00

# BEST BOWLING AVERAGE

In [44]:
bowler[['Match Played','Over','Bowler Runs','Wickets','Average']].nsmallest(10,'Average')

,,Match Played,Over,Bowler Runs,Wickets,Average
Players,Team,,,,,
Jaydev Unadkat,Rajasthan Royals,1,4.0,15,3,5.00
Shahbaz Ahmed,Royal Challengers Banglore,2,3.0,21,3,7.00
Harshal Patel,Royal Challengers Banglore,2,8.0,52,7,7.43
Andre Russell,Kolkata Knight Riders,2,5.0,47,6,7.83
Chris Woakes,Delhi Capitals,2,7.0,40,4,10.00
Jason Holder,Sunrisers Hyderabad,1,4.0,30,3,10.00
Rashid Khan,Sunrisers Hyderabad,2,8.0,42,4,10.50
Avesh Khan,Delhi Capitals,2,8.0,55,5,11.00
Arshdeep Singh,Punjab Kings,1,4.0,35,3,11.67
Kagiso Rabada,Delhi Capitals,1,4.0,30,2,15.00

# BEST BOWLING STRIKE RATE

In [45]:
SR = bowler[(bowler['Wickets'] >=5)].nsmallest(5,'Strike Rate')

In [46]:
SR[['Match Played','Over','Wickets','Strike Rate']].nsmallest(2,'Strike Rate')

,,Match Played,Over,Wickets,Strike Rate
Players,Team,,,,
Andre Russell,Kolkata Knight Riders,2,5.0,6,5.00
Harshal Patel,Royal Challengers Banglore,2,8.0,7,6.86

# BEST ECONOMY

In [47]:
bowler[['Match Played','Over','Wickets','Economy']].nsmallest(15,'Economy')

,,Match Played,Over,Wickets,Economy
Players,Team,,,,
Jaydev Unadkat,Rajasthan Royals,1,4.0,3,3.75
Krunal Pandya,Mumbai Indians,2,8.0,2,4.75
Rashid Khan,Sunrisers Hyderabad,2,8.0,4,5.25
Chris Woakes,Delhi Capitals,2,7.0,4,5.71
Mohammed Siraj,Royal Challengers Banglore,2,8.0,2,5.88
Harshal Patel,Royal Challengers Banglore,2,8.0,7,6.50
Pat Cummins,Kolkata Knight Riders,2,8.0,3,6.75
Jasprit Bumrah,Mumbai Indians,2,8.0,2,6.75
Avesh Khan,Delhi Capitals,2,8.0,5,6.88
Shahbaz Ahmed,Royal Challengers Banglore,2,3.0,3,7.00
DJ Bravo,Chennai Super Kings,1,4.0,1,7.00
Washington Sundar,Royal Challengers Banglore,2,3.0,1,7.00
Shakib Al Hasan,Kolkata Knight Riders,2,8.0,2,7.12
Jason Holder,Sunrisers Hyderabad,1,4.0,3,7.50
Marco Jansen,Mumbai Indians,2,6.0,2,7.50

In [48]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

# FIELDER

In [49]:
fielder_played = df[['Team','Match Played','Catches','Run Out']]

In [50]:
Fielder = fielder_played[(fielder_played['Catches'] >=1) |(fielder_played['Run Out'] >=1)]

In [51]:
Catches = Fielder.groupby(by=['Players','Team'])[['Match Played','Catches','Run Out']].sum().nlargest(15,'Catches')

In [52]:
Catches

                                             Match Played  Catches  Run Out
Players          Team
Shikhar Dhawan   Delhi Capitals                         2        6        0
Daniel Christian Royal Challengers Banglore             2        3        0
Manish Pandey    Sunrisers Hyderabad                    2        3        0
Wriddhiman Saha  Sunrisers Hyderabad                    2        3        0
AB de Villiers   Royal Challengers Banglore             2        2        0
Abdul Samad      Sunrisers Hyderabad                    1        2        0
Chris Lynn       Mumbai Indians                         1        2        0
Deepak Hooda     Punjab Kings                           1        2        0
Dinesh Karthik   Kolkata Knight Riders                  2        2        0
Eoin Morgan      Kolkata Knight Riders                  1        2        0
KL Rahul         Punjab Kings                           1        2        0
Lalit Yadav      Delhi Capitals                         1        2        0
Prasidh Krishna  Kolkata Knight Riders                  1        2        0
Rahul Tewatia    Rajasthan Royals                       2        2        0
Sanju Samson     Rajasthan Royals                       2        2        0

In [53]:
Run_Out = Fielder.groupby(by=['Players','Team'])[['Match Played','Catches','Run Out']].sum().nlargest(8,'Run Out')

In [54]:
Run_Out

                                            Match Played  Catches  Run Out
Players         Team
Virat Kohli     Royal Challengers Banglore             2        1        2
Chris Woakes    Delhi Capitals                         1        0        1
David Miller    Rajasthan Royals                       1        1        1
Jasprit Bumrah  Mumbai Indians                         1        0        1
Krunal Pandya   Mumbai Indians                         1        1        1
Mohammed Siraj  Royal Challengers Banglore             1        0        1
Quinton de Kock Mumbai Indians                         1        1        1
Riyan Parag     Rajasthan Royals                       2        1        1

# ALL ROUNDER

In [55]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Bowler Balls,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [56]:
All_Rounder = df.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','Over','Bowler Balls','Bowler Runs','Maiden','Wickets','Catches','Run Out','50s','100s']].sum()

In [57]:
all_rounder= All_Rounder[(All_Rounder['Balls'] >1) & (All_Rounder['Bowler Balls'] >=1)]

In [58]:
all_rounder.shape

(34, 14)

In [59]:
all_rounder['Economy Rate'] = all_rounder['Bowler Runs']/all_rounder['Over']

In [60]:
all_rounder['Strike Rate'] = all_rounder['Batsman Runs']/all_rounder['Balls']*100

In [61]:
all_rounders= all_rounder.round(2)

In [64]:
all_rounders.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,Over,Bowler Balls,Bowler Runs,Maiden,Wickets,Catches,Run Out,50s,100s,Economy Rate,Strike Rate
Players,Team,,,,,,,,,,,,,,,,
Andre Russell,Kolkata Knight Riders,2,14,20,2,0,5.0,30,47,0,6,1,0,0,0,9.4,70.0

## All Rounders with Highest Runs

In [71]:
all_rounders[['Match Played','Batsman Runs','Wickets']].nlargest(5,'Batsman Runs')

                                  Match Played  Batsman Runs  Wickets
Players      Team
Rohit Sharma Mumbai Indians                  2            62        0
Chris Morris Rajasthan Royals                2            38        3
Moeen Ali    Chennai Super Kings             1            36        0
Sam Curran   Chennai Super Kings             1            34        0
Riyan Parag  Rajasthan Royals                2            27        1

In [73]:
all_rounders[(all_rounders['Wickets'] >=1) & (all_rounders['Batsman Runs'] >=20)].nlargest(5,'Strike Rate')

,,Match Played,Batsman Runs,Balls,Fours,Sixes,Over,Bowler Balls,Bowler Runs,Maiden,Wickets,Catches,Run Out,50s,100s,Economy Rate,Strike Rate
Players,Team,,,,,,,,,,,,,,,,
Chris Morris,Rajasthan Royals,2,38,22,0,4,7.0,42,68,0,3,1,0,0,0,9.71,172.73
Riyan Parag,Rajasthan Royals,2,27,16,1,3,3.0,18,23,0,1,1,1,0,0,7.67,168.75
Krunal Pandya,Mumbai Indians,2,22,16,4,0,8.0,48,38,0,2,1,1,0,0,4.75,137.50
Tom Curran,Delhi Capitals,2,21,16,2,0,7.4,46,75,0,1,0,0,0,0,10.14,131.25