In [1]:
import pandas as pd
import os
pd.options.mode.chained_assignment= None

In [2]:
files= [file for file in os.listdir('./CSV Files')]

all_matches_data=pd.DataFrame()

for file in files:
    df=pd.read_csv('./CSV Files/'+file)
    all_matches_data=pd.concat([all_matches_data,df])

In [3]:
# all_matches_data.to_csv('Combo_Match1_to_Match6.csv',index=False)

In [4]:
 df= pd.read_csv('Combo CSV Files\Combo_Match1_to_Match6.csv',index_col='Players')

In [5]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [6]:
batsman_played = df[['Team','Match Played','Batsman Runs','Balls','Fours','Sixes','Strike Rate','50s','100s','Vs','Times Out']]

In [7]:
Batsman= batsman_played[batsman_played['Balls'] >=1]

In [8]:
Batsman.replace(to_replace=['Yes','No'],value=[0,1],inplace =True)

In [9]:
print(Batsman['Times Out'].dtype)

int64

In [10]:
Batsman['Times Out'] = Batsman['Times Out'].astype(float)

In [11]:
print(Batsman['Times Out'].dtype)

float64

In [12]:
BR= Batsman.groupby(by=['Players','Team'])[['Match Played','Batsman Runs','Balls','Fours','Sixes','50s','100s','Times Out']].sum().nlargest(100,columns=['Batsman Runs'])

In [13]:
BR['Strike Rate']= (BR['Batsman Runs']/BR['Balls'])*100 ##STRIKE RATE

In [14]:
batsman=BR.round(2)

In [15]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate
Players,Team,,,,,,,,,
Nitish Rana,Kolkata Knight Riders,2,137,103,15,6,2,0,0.0,133.01

In [16]:
batsman.loc[batsman['Times Out'] ==0 , 'Average'] = batsman['Batsman Runs']/batsman['Match Played']
batsman.loc[batsman['Times Out'] ==1 , 'Average'] = batsman['Batsman Runs']

In [17]:
batsman.loc[batsman['Balls'] >=1 , 'Innings'] = batsman['Match Played']

In [18]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Nitish Rana,Kolkata Knight Riders,2,137,103,15,6,2,0,0.0,133.01,68.5,2

In [19]:
df.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,Over,Maiden,Bowler Runs,Wickets,Economy Rate,Catches,Run Out,50s,100s,Vs,Times Out
Players,,,,,,,,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0.0,0,0,0,0.0,0,0,0,0,RCB,Yes

In [20]:
Batsman.head(1)

,Team,Match Played,Batsman Runs,Balls,Fours,Sixes,Strike Rate,50s,100s,Vs,Times Out
Players,,,,,,,,,,,
Rohit Sharma,Mumbai Indians,1,19,15,1,1,126.67,0,0,RCB,0.0

In [21]:
batsman.head(1)

,,Match Played,Batsman Runs,Balls,Fours,Sixes,50s,100s,Times Out,Strike Rate,Average,Innings
Players,Team,,,,,,,,,,,
Nitish Rana,Kolkata Knight Riders,2,137,103,15,6,2,0,0.0,133.01,68.5,2

# MOST RUNS

In [22]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(15,'Batsman Runs')

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,68.5
Sanju Samson,Rajasthan Royals,1,1,119,119.0
Manish Pandey,Sunrisers Hyderabad,2,2,99,99.0
Glenn Maxwell,Royal Challengers Banglore,2,2,98,49.0
KL Rahul,Punjab Kings,1,1,91,91.0
Suryakumar Yadav,Mumbai Indians,2,2,87,43.5
Shikhar Dhawan,Delhi Capitals,1,1,85,85.0
Prithvi Shaw,Delhi Capitals,1,1,72,72.0
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,33.5
Virat Kohli,Royal Challengers Banglore,2,2,66,33.0
Deepak Hooda,Punjab Kings,1,1,64,64.0
Rohit Sharma,Mumbai Indians,2,2,62,31.0
Rahul Tripathi,Kolkata Knight Riders,2,2,58,29.0
David Warner,Sunrisers Hyderabad,2,2,57,28.5
Suresh Raina,Chennai Super Kings,1,1,54,54.0

# HIGHEST SCORES

In [23]:
Batsman[['Team','Batsman Runs','Balls','Strike Rate','Vs']].nlargest(15,'Batsman Runs')

,Team,Batsman Runs,Balls,Strike Rate,Vs
Players,,,,,
Sanju Samson,Rajasthan Royals,119,63,188.89,PBKS
KL Rahul,Punjab Kings,91,50,182.00,RR
Shikhar Dhawan,Delhi Capitals,85,54,157.41,CSK
Nitish Rana,Kolkata Knight Riders,80,56,142.86,SRH
Prithvi Shaw,Delhi Capitals,72,38,189.47,CSK
Deepak Hooda,Punjab Kings,64,28,228.57,RR
Manish Pandey,Sunrisers Hyderabad,61,44,138.64,KKR
Glenn Maxwell,Royal Challengers Banglore,59,41,143.90,SRH
Nitish Rana,Kolkata Knight Riders,57,47,121.28,MI
Suryakumar Yadav,Mumbai Indians,56,36,155.56,KKR
Jonny Bairstow,Sunrisers Hyderabad,55,40,137.50,KKR
Suresh Raina,Chennai Super Kings,54,36,150.00,DC
David Warner,Sunrisers Hyderabad,54,37,145.95,RCB
Rahul Tripathi,Kolkata Knight Riders,53,29,182.76,SRH
Chris Lynn,Mumbai Indians,49,35,140.00,RCB

# BEST BATTING AVERAGE

In [24]:
batsman[['Match Played','Innings','Batsman Runs','Average']].nlargest(15,'Average')

,,Match Played,Innings,Batsman Runs,Average
Players,Team,,,,
Sanju Samson,Rajasthan Royals,1,1,119,119.0
Manish Pandey,Sunrisers Hyderabad,2,2,99,99.0
KL Rahul,Punjab Kings,1,1,91,91.0
Shikhar Dhawan,Delhi Capitals,1,1,85,85.0
Prithvi Shaw,Delhi Capitals,1,1,72,72.0
Nitish Rana,Kolkata Knight Riders,2,2,137,68.5
Deepak Hooda,Punjab Kings,1,1,64,64.0
Suresh Raina,Chennai Super Kings,1,1,54,54.0
Glenn Maxwell,Royal Challengers Banglore,2,2,98,49.0
Chris Lynn,Mumbai Indians,1,1,49,49.0
Suryakumar Yadav,Mumbai Indians,2,2,87,43.5
Chris Gayle,Punjab Kings,1,1,40,40.0
Moeen Ali,Chennai Super Kings,1,1,36,36.0
Sam Curran,Chennai Super Kings,1,1,34,34.0
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,33.5

# BEST BATTING STRIKE RATE (Minimum 50 Runs)

In [25]:
SR=batsman[batsman['Batsman Runs'] >=50].nlargest(15,'Strike Rate')

In [26]:
SR[['Match Played','Innings','Batsman Runs','Strike Rate']]

,,Match Played,Innings,Batsman Runs,Strike Rate
Players,Team,,,,
Deepak Hooda,Punjab Kings,1,1,64,228.57
Prithvi Shaw,Delhi Capitals,1,1,72,189.47
Sanju Samson,Rajasthan Royals,1,1,119,188.89
KL Rahul,Punjab Kings,1,1,91,182.00
Rahul Tripathi,Kolkata Knight Riders,2,2,58,170.59
Shikhar Dhawan,Delhi Capitals,1,1,85,157.41
Suresh Raina,Chennai Super Kings,1,1,54,150.00
Suryakumar Yadav,Mumbai Indians,2,2,87,147.46
Glenn Maxwell,Royal Challengers Banglore,2,2,98,142.03
David Warner,Sunrisers Hyderabad,2,2,57,139.02
Nitish Rana,Kolkata Knight Riders,2,2,137,133.01
Rohit Sharma,Mumbai Indians,2,2,62,131.91
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,126.42
Manish Pandey,Sunrisers Hyderabad,2,2,99,119.28
Virat Kohli,Royal Challengers Banglore,2,2,66,113.79

# MOST HUNDREDS

In [27]:
batsman[['Match Played','Innings','Batsman Runs','100s']].nlargest(1,'100s')

                               Match Played  Innings  Batsman Runs  100s
Players      Team
Sanju Samson Rajasthan Royals             1        1           119     1

# MOST FIFTIES

In [28]:
batsman[['Match Played','Innings','Batsman Runs','50s']].nlargest(12,'50s')

,,Match Played,Innings,Batsman Runs,50s
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,2
Manish Pandey,Sunrisers Hyderabad,2,2,99,1
Glenn Maxwell,Royal Challengers Banglore,2,2,98,1
KL Rahul,Punjab Kings,1,1,91,1
Suryakumar Yadav,Mumbai Indians,2,2,87,1
Shikhar Dhawan,Delhi Capitals,1,1,85,1
Prithvi Shaw,Delhi Capitals,1,1,72,1
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,1
Deepak Hooda,Punjab Kings,1,1,64,1
Rahul Tripathi,Kolkata Knight Riders,2,2,58,1
David Warner,Sunrisers Hyderabad,2,2,57,1
Suresh Raina,Chennai Super Kings,1,1,54,1

# MOST FOURS

In [29]:
batsman[['Match Played','Innings','Batsman Runs','Fours']].nlargest(15,'Fours')

,,Match Played,Innings,Batsman Runs,Fours
Players,Team,,,,
Nitish Rana,Kolkata Knight Riders,2,2,137,15
Sanju Samson,Rajasthan Royals,1,1,119,12
Suryakumar Yadav,Mumbai Indians,2,2,87,11
Shikhar Dhawan,Delhi Capitals,1,1,85,10
Prithvi Shaw,Delhi Capitals,1,1,72,9
Glenn Maxwell,Royal Challengers Banglore,2,2,98,8
Virat Kohli,Royal Challengers Banglore,2,2,66,8
KL Rahul,Punjab Kings,1,1,91,7
David Warner,Sunrisers Hyderabad,2,2,57,7
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,6
Shubman Gill,Kolkata Knight Riders,2,2,48,6
Rahul Tripathi,Kolkata Knight Riders,2,2,58,5
Jos Butler,Rajasthan Royals,1,1,25,5
Manish Pandey,Sunrisers Hyderabad,2,2,99,4
Deepak Hooda,Punjab Kings,1,1,64,4

# MOST SIXES

In [30]:
batsman[['Match Played','Innings','Batsman Runs','Sixes']].nlargest(15,'Sixes')

,,Match Played,Innings,Batsman Runs,Sixes
Players,Team,,,,
Sanju Samson,Rajasthan Royals,1,1,119,7
Nitish Rana,Kolkata Knight Riders,2,2,137,6
Deepak Hooda,Punjab Kings,1,1,64,6
Manish Pandey,Sunrisers Hyderabad,2,2,99,5
Glenn Maxwell,Royal Challengers Banglore,2,2,98,5
KL Rahul,Punjab Kings,1,1,91,5
Suresh Raina,Chennai Super Kings,1,1,54,4
Suryakumar Yadav,Mumbai Indians,2,2,87,3
Prithvi Shaw,Delhi Capitals,1,1,72,3
Jonny Bairstow,Sunrisers Hyderabad,2,2,67,3
Chris Lynn,Mumbai Indians,1,1,49,3
Riyan Parag,Rajasthan Royals,1,1,25,3
Shikhar Dhawan,Delhi Capitals,1,1,85,2
Rohit Sharma,Mumbai Indians,2,2,62,2
Rahul Tripathi,Kolkata Knight Riders,2,2,58,2

In [ ]:
# def fetch_average(df, Average):
#     if Average == 'All':
#         BR = df.groupby(['Players', 'Team'])[
#             ['Batsman Runs', 'Balls', 'Times Out', 'Match Played']].sum()

#         if df['Match Played'].sum() == df['Times Out'].sum():
#             df['Average'] = df['Batsman Runs']
#         else:
#             BR['Average'] = BR['Batsman Runs'] / \
#                 (BR['Match Played']-BR['Times Out'])
#         return BR[['Average', 'Batsman Runs']].sort_values(by='Average', ascending=False)
#     else:
#         BR = df[df['Players'] == Average].groupby(
#             ['Players', 'Team'])[['Batsman Runs', 'Balls', 'Times Out', 'Match Played']].sum()
#     if BR['Match Played'].sum() == BR['Times Out'].sum():
#         BR['Average'] = BR['Batsman Runs']
#     else:
#         BR['Average'] = BR['Batsman Runs'] / \
#             (BR['Match Played']-BR['Times Out']).round(2)
#     return BR.sort_values(by='Average', ascending=False)